:root {
  --color-background: rgb(32, 32, 32);
  --color-darkSquare: rgb(189, 161, 134);
  --color-lightSquare: rgb(240, 226, 198);
}

body {
  background: var(--color-background);
}

.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}

.tile .chess-piece {
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: var(--color-darkSquare);
}

.white-tile {
  background-color: var(--color-lightSquare);
}

.tile img {
  width: 70px;
}